# ==============================================================================
# Static Sample Nginx Config
# ==============================================================================

server
{
	# ==========================================================================
	#
	# Basic Settings
	#
	# ==========================================================================

	server_name	< your.static.site.com >;

	root		< dir/to/staticFileOutput >;

	index		index.html;

	listen		80;

	# ==========================================================================
  #
  # Location Settings
 	#
  # ==========================================================================

	error_page  404 /404.html;

	# ==========================================================================
	#
	# Logging Settings
	#
	# ==========================================================================

	access_log	< path/to/access.log >;
	error_log	< path/to/error.log >;
}
